#panel_main

  #panel_main_waiting
    Waiting

  / #video_index_camera_off
  /   = @case_partner.first_name + "'s camera is switched off"


  %video#localVideo{:autoplay => ""}

  #panel_main_video_remote

  #panel_main_timer
    